#logo {
	width: 40px;
}
#nome{
	height: 200px;
	width: auto;
	display: block;
  	margin: 0 auto;
  	position: relative;
  	top: 30px;
  	opacity: 0.9;
  	background-color: multiply;
  	border: 5px solid;
}
#butt{
	margin: 0px;
	width.box: 10px !important;
	position: absolute;
	background-color: #f70505 !important;
	border-radius: 10px;
}

Bordeaux #6b1818
Chiaro #f70505

#video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.5;
  z-index: -1;
}

#sfondo{
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 120%;
}
#p1{
	position: absolute;
	top: 320px;
	font-weight: bold;
	left: 500px;
	z-index: 2;
	color: white;
}
#p2{
	position: relative;
	top: 600px;
	color: white;
}
#date{
	position: relative;
  	top: 250px;
  	color: white;
}

#griglia{
	position: relative;
  	top: 500px;
}

.bordi {
	border-left: 5px solid;
	border-right: 5px solid;
}

.artist{
	width: 300px !important;
	height: 300px !important;
	border-radius: 20px;
	border: 2px solid;
	border-color: black;
	text-align: center;
	z-index: -1;
}

#cards {
    margin-bottom: 40px;
    top: 800px;
    position: relative;

 }

.card1{
	
}

h2,h3 {
	text-align: center;
	font-family: Orbitron;
	
}
div{
	/*border: 2px solid !important; */
	border-color: black;
}

video {
	max-width: 50px;
}

body{
	background-color: #6b1818 !important;
}

a{
	background-color: #f70505 !important;
}

h5,p{
	color: white;
	font-family: Spectral:wght@300;
	
}



.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius: 5px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f70505;

}

.dropbtn{
	background-color: #f70505 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
